<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lobby - Dashboard | Trabajo Final P1</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
<div class="dashboard-wrapper">
  <header class="top-bar">
    <button class="menu-toggle" id="menu-toggle"><span></span><span></span></button>
    <span class="top-bar-title">Panel de Control</span>
  </header>

  <div class="dashboard-body">
    <aside class="sidebar-fixed">
      <nav class="fixed-nav">
        <a th:href="@{/dashboard}" class="square-btn active-btn">
          <span class="material-symbols-outlined">dashboard</span>
        </a>
        <a th:href="@{/alojamientos}" class="square-btn">
          <span class="material-symbols-outlined">home</span>
        </a>
        <a th:href="@{/tareas}" class="square-btn">
          <span class="material-symbols-outlined">event_note</span>
        </a>
        <a th:href="@{/documentos}" class="square-btn">
          <span class="material-symbols-outlined">folder</span>
        </a>

        <form th:action="@{/logout}" method="POST" style="margin: 0; margin-top: 20px;">

          <button type="submit" class="square-btn" style="border: none; cursor: pointer; background-color: #ef4444;" title="Cerrar Sesión">
            <span class="material-symbols-outlined">logout</span>
          </button>
        </form>

      </nav>
    </aside>

    <main class="main-content">
      <section class="content-area">
        <div class="content-card lobby-grid">
          <div class="welcome-header">
            <h1>¡Hola, Estudiante!</h1>
            <p>Este es el resumen de tu actividad para hoy.</p>
          </div>

          <div class="summary-grid">
            <div class="summary-card">
              <span class="material-symbols-outlined">home</span>
              <h3>Tu Alojamiento</h3>
              <p>Diganle al rector que me de alojamiento</p>
              <a th:href="@{/alojamientos}" class="btn-text">Ver detalles →</a>
            </div>
            <div class="summary-card">
              <span class="material-symbols-outlined">task_alt</span>
              <h3>Tareas Pendientes</h3>
              <p>Revisa que tareas debes realizar</p>
              <a th:href="@{/tareas}" class="btn-text">Ir al tablero →</a>
            </div>
            <div class="summary-card">
              <span class="material-symbols-outlined">file_open</span>
              <h3>Biblioteca</h3>
              <p>Archivos guardados</p>
              <a th:href="@{/documentos}" class="btn-text">Explorar →</a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
</body>
</html>
